# Database
DATABASE_URL=postgresql://sig_pass@localhost:5432/sig_aldeias

# Security
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

#Application
DEBUG=True
HOST=0.0.0.0
PORT=8000